In [54]:
import pyspark
from pyspark.sql import SparkSession

In [55]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()
spark

In [56]:
filepath = r'D:\python\meTryPython\learnspark\first\resources\test2.csv'
df_spark=spark.read.option("nullValue", "null").csv(filepath,header=True,inferSchema=True)
df_spark.show()
df_spark.printSchema()
print(df_spark.count())
print(type(df_spark))
df_spark.columns

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sundhansh| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
|     null| 36|      null|  null|
+---------+---+----------+------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

8
<class 'pyspark.sql.dataframe.DataFrame'>

['Name', 'Age', 'Experience', 'Salary']

**Filter Aquarium**

In [45]:
df_spark.filter("Salary<=20000").show();
df_spark.filter(col("Salary")<=20000).show();
df_spark.filter("Salary<=20000").select(['Name','Age']).show()
df_spark.filter("Salary<=20000").select('Name','Age').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

+-------+---+
|   Name|Age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

+-------+---+
|   Name|Age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [48]:
df_spark.filter((df_spark["Salary"]<=20000) & (df_spark["Salary"]>=15000)).show()
df_spark.filter((col("Salary")<=20000) & (col("Salary")>=15000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

**Filter Aquarium buat Null**

In [32]:
df_spark.filter(col("Name").isNull()).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|null| 34|        10| 38000|
|null| 36|      null|  null|
+----+---+----------+------+

**two ways to call a column of the sparkDF instance**

In [57]:
df_spark

DataFrame[Name: string, Age: int, Experience: int, Salary: int]

In [40]:
col("Name")

Column<'Name'>

In [39]:
df_spark['Name']

Column<'Name'>