In [13]:
import pyspark
from pyspark.sql import SparkSession

In [15]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()
spark

In [20]:
filepath = r'D:\python\meTryPython\learnspark\first\resources\test3.csv'
df_spark=spark.read.option("nullValue", "null").csv(filepath,header=True,inferSchema=True)
df_spark.show()
df_spark.printSchema()
print(df_spark.count())
print(type(df_spark))
df_spark.columns

+---------+------------+------+
|     Name| Departments|Salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
+---------+------------+------+

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

9
<class 'pyspark.sql.dataframe.DataFrame'>

['Name', 'Departments', 'Salary']

**GroupBhay**

In [29]:
df_spark.groupBy('Name')

In [39]:
df_spark.groupBy('Name','Departments').sum().show()
df_spark.groupBy('Name').max().show()
df_spark.groupBy('Name').min().show()
df_spark.groupBy('Name').avg().show()

+---------+------------+-----------+
|     Name| Departments|sum(Salary)|
+---------+------------+-----------+
|   Mahesh|Data Science|       3000|
|Sudhanshu|Data Science|      20000|
|    Krish|Data Science|      10000|
|   Mahesh|    Big Data|       4000|
|    Sunny|Data Science|      10000|
|Sudhanshu|         IOT|      10000|
|    Krish|         IOT|       5000|
|Sudhanshu|    Big Data|       5000|
|    Krish|    Big Data|       4000|
+---------+------------+-----------+

+---------+-----------+
|     Name|max(Salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

+---------+-----------+
|     Name|min(Salary)|
+---------+-----------+
|Sudhanshu|       5000|
|    Sunny|      10000|
|    Krish|       4000|
|   Mahesh|       3000|
+---------+-----------+

+---------+------------------+
|     Name|       avg(Salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|           10000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [38]:
df_spark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      13000|
|Data Science|      43000|
+------------+-----------+

In [59]:
df_spark = df_spark['Salary']

In [51]:
df_spark.agg({'Salary':'std','Departments':'mean'}).show()

+-----------------+----------------+
|   stddev(Salary)|avg(Departments)|
+-----------------+----------------+
|5372.253820428732|            null|
+-----------------+----------------+

In [61]:
df_spark = df_spark.withColumn("IncreasedSalary", col("Salary") + 10000)
df_spark.show()

+---------+------------+------+---------------+
|     Name| Departments|Salary|IncreasedSalary|
+---------+------------+------+---------------+
|    Krish|Data Science| 10000|          20000|
|    Krish|         IOT|  5000|          15000|
|   Mahesh|    Big Data|  4000|          14000|
|    Krish|    Big Data|  4000|          14000|
|   Mahesh|Data Science|  3000|          13000|
|Sudhanshu|Data Science| 20000|          30000|
|Sudhanshu|         IOT| 10000|          20000|
|Sudhanshu|    Big Data|  5000|          15000|
|    Sunny|Data Science| 10000|          20000|
+---------+------------+------+---------------+

In [ ]:
df_spark.agg({'Salary':'std','Salary':'mean'}).show()